# ml
torch
scikit-learn
pandas
setfit
sentencepiece
# hugging face
transformers
peft
accelerate
datasets
evaluate
sacrebleu

openai
# running notebooks
jupyter
# creating pipelines
invoke
# infra
python-dotenv
